form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    max-width: 500px;
    margin: 0 auto;
}

.feed-cards-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.feed-card {
    display: flex;
    padding: 1rem;
    width: 15rem;
    gap: 1rem;
    border: 1px solid black;
    position: relative;
}

.feed-bit {
    font-family: Caprasimo, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.feed-username {
    word-break: break-all;
}

.feed-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feed-following-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    padding: 0.1em;
}

.follow-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    border: 3px solid #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}