form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    max-width: 500px;
    margin: 0 auto;
}

.feed-cards-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.feed-card {
    display: flex;
    padding: 1rem;
    width: 20rem;
    gap: 1rem;
    border: 1px solid black;
    position: relative;
}

.feed-bit {
    font-family: Caprasimo, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.feed-username {
    word-break: break-all;
}

.feed-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
