.flip-count-card {
    /* visibility: hidden; */
    position: absolute;
    left: 0;
    top: 5rem;
    border-radius: 0 1rem 1rem 0;
    background-color: #E8E8E8;
    outline: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flip-count-card span {
    display: block;
}

.bit-count-binary {
    font-family: Caprasimo, sans-serif
}


.bit-flip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@keyframes flip-toast-exit {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-12px);
  }
}
