@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  /* outline: 1px solid green; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

section.page-section {
  min-height: 100vh;
  width: 100%;
}

.section-wrapper {
  width: 80vw;
  margin: 0 auto;
  padding: 2rem 0;
}

h1 {
  font-family: Caprasimo, sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: Caprasimo, sans-serif;
  font-size: 2rem;
}

.text-align-center {
  text-align: center;
}

.error {
  color: red;
  margin-top: 8px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button, .faux-button {
  background-color: #EEEEEE;
  outline: 1px solid black;
  /* etc */
}