.customise-menu-container {
    --customise-button-padding: 1rem;
    --customise-button-inner-height: 2.5rem;
    --menu-width: 16rem;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 1rem;
    width: var(--menu-width);
    @media screen and (max-width: 785px) {
        position: absolute;
        bottom: 0;
        left: calc(50vw - var(--menu-width) / 2);
        display: flex;
        flex-direction: column-reverse;
    }
    @media screen and (min-width: 786px) {
        position: absolute;
        right: 0;
        top: 10vh;
        max-height: 90vh;
    }
}



#customise-heading {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: var(--customise-button-padding);
    min-height: var(--customise-button-inner-height);
    border-radius: 12px;
    border: 3px solid #ccc;
    cursor: pointer;
}

.customise-button-inactive {
    background-color: grey;
}

.customise-button-active {
    background-color: pink;
}

.customise-body {
    background: #ffffff;
    border-radius: 16px 16px 0 0;
    padding: 1rem;
    width: 100%;

    max-height: 40vh;
    overflow-y: scroll;

    transition: transform 300ms ease;
    z-index: 10;
}


