.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-inner {
  width: 100%;
  max-width: 1200px;

  padding: 4rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
