.landing-section {
    display: flex;
    height: 100vh;
}
.landing-section > div {
    width: 50%;
}

.landing-right-side span {
    display: block;
    text-align: center;
}

.landing-left-side {
    position: relative;
    max-height: 100%;
    outline: 3px solid green;

    overflow: hidden;
    background: linear-gradient(
        to right,
        #FFFFFF,
        #DDDDDD
    );
}

.landing-left-side p {
    width: 120%;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    left: -10%;
    word-break: break-all;
    font-family: monospace;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1rem;
    opacity: 0.3;
    color: #888888;

}

.text-pattern-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: linear-gradient(
        to right,
        #FFFFFFFF,
        #FFFFFF00 80%
    );
}
