form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
    max-width: 500px;
    margin: 0 auto;
}

h2.settings-h {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #888888;
    text-decoration: underline overline solid;

}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: block;
}

input {
    outline: 1px solid #888888;
}

form button {
    outline: 1px solid #000000;
    background-color: #EEEEEE;
    cursor: pointer;
}

form button:disabled {
    background-color: grey;
    cursor: default;
}